@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap");
body {
  font-family: "karma", sans-serif;
  background-color: #00f6e2;
}
nav ul {
  list-style: none;
  display: flex;
  padding: 0.5em;
  margin: 0;
  background-color: #69c2bb;
}
nav a {
  font-family: "Martel Sans", sans-serif;
  color: #00f6e2;
  font-size: 0.9em;
  text-decoration: none;
  padding: 0.4em;
}
.knap {
  font-family: "Martel Sans", sans-serif;
  font-size: 1.4em;
  background-color: #69c2bb;
  padding: 0.5em;
  border-radius: 2em;
  text-decoration: none;
  margin: 5.5em;
  color: #00f6e2;
}
.knap:hover {
  background-color: white;
}
section img {
  display: block;
  margin: 1em auto;
}
img {
  display: block;
  margin: 1em auto;
  width: 25em;
}
h1,
h2,
h3 {
  font-family: "Martel Sans", sans-serif;
}
dt,
dd {
  margin: 0;
  padding: 0;
}
dt {
  font-weight: bold;
}
.link {
  color: #006f65;
}
.link:hover {
  color: white;
}
